{% extends 'base.html' %}

{% block content %}

    <div class="global-container">
        <h1>Chatbot</h1>
        <h2>Hello there</h2>
        <div></div>
        <h3>{{request.user.username}}</h3>

        <div class='container'>
        <a href="{% url 'logout' %}">Click this link to logout</a>
        </div>
        
    </div>
    <div id="chat-container"></div>

    <div id="rasa-chat-widget" data-websocket-url="http://localhost:5005"></div>
    <script src="https://unpkg.com/@rasahq/rasa-chat" type="application/javascript"></script>
    
{% endblock  %}